@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

* {
    font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

.animate-slow-pan {
  animation: slow-pan 15s ease-in-out infinite;
  background-size: 160%;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .animate-slow-pan {
    animation-duration: 4s; /* faster */
  }

  @keyframes slow-pan {
    0% { background-position: center; }
    50% { background-position: 20% 20%; } /* moves a bit more */
    100% { background-position: center; }
  }
}

@keyframes slow-pan {
  0% { background-position: center; }
  50% { background-position: top; }
  100% { background-position: center; }
}