@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

* {
    font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes slow-pan {
  0% { background-position: center; }
  50% { background-position: top; }
  100% { background-position: center; }
}

.animate-slow-pan {
  animation: slow-pan 25s ease-in-out infinite;
  background-size: 120%; /* ensures movement visible */
}